@import "../../assets/CustomScss/mixins";
.Container {
  @include Center(flex-start, flex-start);
  background-color: #0d1117;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  .side {
    flex: 2;
  }
}
