@import "../../../src/CustomScss/mixins";
.Container {
  //   margin-top: 10px;
  border-top: 1px solid #30363d;
  margin: 0 10px;
  padding: 20px 0;
  @include Center(center, flex-start);
  flex-direction: column;
  flex: 2;
  .name {
    @include Center(center, flex-start);
    color: #2f81f7;
    .visibility {
      border: 1px solid #30363d;
      border-radius: 10px;
      margin-left: 10px;
      font-size: 10px;
      padding: 2px 5px;
      color: #7d8590;
    }
  }
  p {
    margin: 10px 0;
    font-size: 12px;
    color: #7d8590;
  }
  .subinfo {
    span {
      margin-right: 10px;
      font-size: 12px;
      color: #7d8590;
    }
  }
}
