@import "../assets/CustomScss/mixins";
.Container {
  width: 80%;
  margin: 200px auto;
  height: 100px;
  @include Center;
  button {
    background-color: rgba(7, 94, 7, 0.575);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
