.inputwrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  label {
    margin: 11px 0;
    @media screen and (max-width: 1199px) {
    }
  }
  .checkboxlabel {
    @media screen and (max-width: 1199px) {
    }
  }
  input {
    // width: 60%;
    border-radius: 10px;
    background-color: #fff;
    height: 49px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    @media screen and (max-width: 600px) {
      height: 45px;
    }
  }
}
