@import "../../src/CustomScss/mixins";
.inputwrapper {
  @include Center(center, center);
  // width: 50%;
  flex-direction: column;
  height: 30px;

  label {
    @media screen and (max-width: 1199px) {
    }
  }
  .checkboxlabel {
    @media screen and (max-width: 1199px) {
    }
  }
  input {
    width: 100%;
    border-radius: 10px;
    background-color: inherit;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 1px solid #30363d;
    color: #c3c3c3;
    font-size: 16px;
    @media screen and (max-width: 600px) {
      height: 45px;
    }
  }
}
